fastapi
uvicorn[standard]
pydantic
python-multipart
sqlalchemy>=2.0
asyncpg
alembic  # for migrations

# Observability
opentelemetry-api
opentelemetry-sdk==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-logging